// Змінні, перенесені з :root
$primary-dark: #32353a;
$accent-yellow: #ffc107;
$light-bg: #ffffff;
$text-grey-light: #ffff;
$text-grey-dark: #666;
$border-grey: #e0e0e0;

// Розміри
$header-height-desktop: 380px;
$photo-width-desktop: 220px;
$photo-height-desktop: 260px;
$border-thickness: 35px;
$bottom-bar-height: 25px;

// Інші
$circle-progress-track: #6c757d;
$circle-circumference: 226.2;